<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <form action="/contact" method="POST">
        <input type="text" name="name"  placeholder="message" required>
        <input type="text" name="email" placeholder="E-mail" required>
        <input type="text" name="message"  placeholder="message" required>
        <input type="text" name="messageType" placeholder="message type" required>

        <input type="submit" name="contact_btn" class="btn" Value="Send">
    </form>
</body>
</html>